*
{
    box-sizing: border-box;
}

header{
    background-color: rgba(202, 240, 251, 255);
    text-align: center;

    
}
main
{
    margin-top: 25px;
}

h1
{
    color:white;
}


footer
{
    background-color: #f376a288;
}

#formsection
{
    float: left;
    background-color: #5d4b7696;
    color: #fffdfe88;
    width: 9cm;
    height: 12cm;
    font-size: 25px;
    margin-left:220px;
    text-align: center;
    border-radius: 6px;

}
#form
{
    padding-top: 70px;
}
input
{
    margin-bottom: 30px;
    width: 120px;
    height: 35px;
    border-radius: 6px;
}
select
{
    margin-bottom: 30px;
    width: 120px;
    height: 35px;
    border-radius: 6px;
}
#submit
{
    width: 120px;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 6px;
    background-color:  #5d4b7696;
    color:#fffdfe88;
    font-size: 20px;
}
#tableSection
{
    float:right;
    background-color:#5d4b7696 ;
    margin-right: 300px;
    width: 19cm;
    height: 11px;
    border-radius: 8px;
}
table
{
    background-color:#5d4b7696 ;
    opacity: 0.8;
    width: 17cm;
    margin-left: 35px;
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;

}
th,tr,td{
    border:2.5px solid rgb((169), 169, 169,0.9);
}
th{
    font-weight: bold;
}
th,td{
    height: 5px;
}
